# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
*.pot
*.pyc
*.pyo

# If using Django's collectstatic
/static/

# If using Django Compressor
COMPRESS_CACHE/

# Environment
.env
.env.*

# Virtualenv
venv/
env/
ENV/
env.bak/
venv.bak/

# pip
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/

# mypy
.mypy_cache/

# Pytest
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
